# IDE files
.project
.classpath
.settings/
.factorypath
target/

# CDK files
cdk.out/
cdk-pipeline-out/
*.d.ts
*.js
cdk.context.json

# Build files
buildspec-fixed.yml

# Package files
package-lock.json
